/* Reset de margens e padding */
body, html {
    margin: 0;
    padding: 0;
}

/* Estilo básico para o corpo do formulário */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo para o formulário */
#form-forgot-password {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px; /* Aumentando a largura do formulário */
}

/* Estilo para os campos de senha */
.password-fields {
    margin-bottom: 20px;
}

.password-fields label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.password-fields input {
    width: 100%;
    padding: 10px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button-redefine-password {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 10px 20px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-redefine-password:hover {
    background-color: #0056b3;
}


.button-text {
    font-weight: bold;
}
