<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="forgot-password.components.css">
    <title>Esqueci minha senha</title>
</head>
<body>
    <form id="form-forgot-password">
        <div class="password-fields">
            <Label for="new-password">Nova Senha:</Label>
            <input 
                type="password" 
                id="new-password" 
                name="new-password" 
                placeholder="Nova Senha"
                required
            />
            <label for="confirm-password">Confirme sua senha:</label>
            <input 
                type="password" 
                id="confirm-password" 
                name="confirm-password" 
                placeholder="Confirme sua senha"
                required
            />
            <div>
                <button type="submit" class="button-redefine-password">
                  <strong class="button-text">
                      <span>
                        Redefinir senha
                      </span>
                  </strong>
                </button>
              </div> 
        </div>
    </form>
</body>
</html>