<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <title>Login</title>
</head>
<body>
  <div class="login">
    <h1 class="login-text">Login</h1>
    <!-- Incluir diretamente o componente 'app-login-screen' -->
    <!-- <app-login-screen></app-login-screen> -->
  </div>
  <footer class="footer-text">
    Novadata Sistemas e Soluções LTDA 2024
  </footer>
</body>
</html>
