.login-text {
    color: #000;
    text-align: center;
    align-items: center; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#form-login {
    background-color: #128625; /* Cor de fundo do formulário de login */
    padding: 20px; /* Adiciona espaçamento interno */
    border-radius: 5px; /* Adiciona bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
    margin: 0 auto; /* Centraliza horizontalmente */
    padding-top: 3em;
    width: 400px; /* Define a largura do formulário */
    height: 300px;
}

.form-fields label {
    color: #f0f0f0; 
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-fields input[type="email"],
.form-fields input[type="password"] {
    background-color: #f0f0f0; /* Cor de fundo do campo de entrada */
    color: #000; /* Cor do texto dentro do campo de entrada */
    border: none; /* Remove a borda padrão */
    padding: 8px; /* Espaçamento interno */
    width: 100%; /* Largura total */
    box-sizing: border-box; /* Inclui padding e border na largura total */
    border-radius: 5px; /* Borda arredondada */
    margin-top: 5px; /* Espaçamento superior */
}

.button-login {
    background-color: #fff;
    color: black;
    border: 2px solid #128625;
    border-radius: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    width: 130px;
    height: 35px;
    margin-top: 1em;
    margin-left: 7em;
    text-align: center;
    align-items: center;
    transition-duration: 0.5ms;
}

/* .button-login:hover {
    background-color: #128625;
    color: white;
} */

.button-text {
    font-size: 75%;
}

.button-login:disabled {
    background-color: #ccc; /* Cor de fundo quando o botão está desativado */
    color: #666; /* Cor do texto quando o botão está desativado */
}

.button-login:enabled{
    background-color: #128625; /* Cor de fundo quando o botão está desativado */
    color: #f0f0f0;
}