<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="login-screen.componenst.css">
    <title>tela de login</title>
</head>
<body>
  
    <form id="form-login">
      <div>
        <h1 class="login-text">Login</h1>
      </div>
        <div class="form-fields">
          <label for="username">Email:</label>
          <input type="email" id="email" name="email" placeholder="Email" required>
          <br>
          <br>
          <label for="password">Senha:</label>
          <input type="password" id="password" name="password" placeholder="Senha" required>
        </div>
        <br>
        <div>
          <button type="submit" class="button-login">
            <strong class="button-text"><a href="../home/home.component.html">Login</a></strong>
          </button>
        </div> 
    </form>
</body>
</html>